<a href="https://colab.research.google.com/github/orin00/colab/blob/main/240302%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1부터 10 까지의 누적합 구하는 함수
def sum_all(a, b):
  total = 0
  while a < b + 1:
    total += a
    a += 1
  return total

sum_all(1,10)

55

In [ ]:
def 안녕():
	result = 'Hello'
	return result

print(안녕())

Hello

In [ ]:
def 덧셈(a,b):
	result = a + b
	return result

print(덧셈(b=8,a=6))

14

In [ ]:
def phone(model):
	print(f"나의 휴대폰은{model}입니다.")

phone('apple')

나의 휴대폰은apple입니다.

In [ ]:
def phone(model):
	if model == 'xiaomi':
		return
	print(f"나의 휴대폰은{model}입니다.")

phone('xiaomi')
phone('samsung')

나의 휴대폰은samsung입니다.

In [ ]:
def pn(n):
  total = 0  # 누적할 값 => 출력값
  while True:
    total += n % 10 # total 변수에 매개변수 n의 나머지를 누적해서 더함.
    n = n // 10 # 10으로 나눈 몫
    if n == 0:
      break
  return total

pn(123)

pn(572)

14

In [ ]:
def all_sum(*args):
	result = 0
	for i in args:
		result = result + i
	return result

print(all_sum(1,2,3,4,5,6,7,8,9,10))
print(all_sum(2,4,6,8,10))

55
30

In [ ]:
def calculator(choice,*args):
  result = 0
  if choice == 'add':
    for i in args:
      result += i
  elif choice == 'multi':
    result = 1
    for i in args:
      result *= i
  else:
    result ="'add'또는 'multi'를 입력"

  return result

calculator('add', 1,2,3,4,5)
calculator('multi', 5,6)

30

In [ ]:
def introduce(**kwargs):
	for key, value in kwargs.items():
		print(f"{key}은 {value}")

introduce(이름="호크아이",직업="궁수",나이='10살')



x = {'이름': "슈퍼맨", '직업':"기자"}
introduce(**x)

이름은 호크아이
직업은 궁수
나이은 10살
이름은 슈퍼맨
직업은 기자

In [ ]:
def pocketmon(atribute, **kwargs):
  if atribute == 'electronic':
    print('피카츄')
    for key, value in kwargs.items():
      print(f"{key}은 {value}이다.")
  elif atribute == 'water':
    print('꼬부기')
  else:
    print('그외의 포켓몬')

pocketmon('electronic',공격='100만 볼트')
print('////////////////////')
pocketmon('water', 공격='물대포', 진화='거북왕')

피카츄
공격은 100만 볼트이다.
////////////////////
꼬부기

In [ ]:
# 가변 매개변수와 키워드 매개변수 함께 사용하기

def pocketmon(*args, **kwargs):
  if args[0] == 'electronic':
    print('피카츄','level:',args[1])
    for key, value in kwargs.items():
      print(f"{key}은 {value}이다.")
  elif args[0] == 'water':
    print('꼬부기','level:',args[1])
    for key, value in kwargs.items():
      print(f"{key}은 {value}이다.")
  else:
    print('그외의 포켓몬')

pocketmon('electronic',16,공격='100만 볼트')
print('////////////////////')
pocketmon('water',20, 공격='물대포', 진화='거북왕')

피카츄 level: 16
공격은 100만 볼트이다.
////////////////////
꼬부기 level: 20
공격은 물대포이다.
진화은 거북왕이다.