<a href="https://colab.research.google.com/github/orin00/colab/blob/main/240311_%EC%8A%B9%EB%B6%80_%EC%98%88%EC%B8%A1_%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 문제정의 : 두 팀의 스코어 예측
2. 데이터 수집 : BIG FIVE 1995-2019.csv

  데이터 출처 : https://www.kaggle.com/datasets/hikne707/big-five-european-soccer-leagues
3. 데이터 전처리 및 EDA

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 데이터 프레임 불러오기
df = pd.read_csv('BIG FIVE 1995-2019.csv')
df.head()

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0
1,1,(Sat) 19 Aug 1995 (W33),Blackburn Rovers FC,1-0,1-0,Queens Park Rangers FC,1995,ENG,1,0,1,0,1,3,0
2,1,(Sat) 19 Aug 1995 (W33),Chelsea FC,0-0,0-0,Everton FC,1995,ENG,0,0,0,0,0,1,1
3,1,(Sat) 19 Aug 1995 (W33),Liverpool FC,1-0,0-0,Sheffield Wednesday FC,1995,ENG,1,0,0,0,1,3,0
4,1,(Sat) 19 Aug 1995 (W33),Manchester City FC,1-1,0-1,Tottenham Hotspur FC,1995,ENG,1,1,0,1,0,1,1

In [3]:
df.shape

(44269, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44269 entries, 0 to 44268
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Round         44269 non-null  int64
 1   Date          44269 non-null  object
 2   Team 1        44269 non-null  object
 3   FT            44269 non-null  object
 4   HT            44269 non-null  object
 5   Team 2        44269 non-null  object
 6   Year          44269 non-null  int64
 7   Country       44269 non-null  object
 8   FT Team 1     44269 non-null  int64
 9   FT Team 2     44269 non-null  int64
 10  HT Team 1     44269 non-null  int64
 11  HT Team 2     44269 non-null  int64
 12  GGD           44269 non-null  int64
 13  Team 1 (pts)  44269 non-null  int64
 14  Team 2 (pts)  44269 non-null  int64
dtypes: int64(9), object(6)
memory usage: 5.1+ MB

In [5]:
df.describe()

,Round,Year,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
count,44269.000000,44269.000000,44269.000000,44269.000000,44269.000000,44269.000000,44269.000000,44269.000000,44269.000000
mean,18.852154,2007.006641,1.539271,1.112065,0.680137,0.477987,1.319388,1.669498,1.065960
std,10.694362,7.130475,1.282207,1.109638,0.824792,0.695605,1.187047,1.300856,1.237966
min,1.000000,1995.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,2001.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19.000000,2007.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000
75%,28.000000,2013.000000,2.000000,2.000000,1.000000,1.000000,2.000000,3.000000,3.000000
max,42.000000,2019.000000,10.000000,9.000000,7.000000,6.000000,9.000000,3.000000,3.000000

In [6]:
df[df['Round']==1]

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0
1,1,(Sat) 19 Aug 1995 (W33),Blackburn Rovers FC,1-0,1-0,Queens Park Rangers FC,1995,ENG,1,0,1,0,1,3,0
2,1,(Sat) 19 Aug 1995 (W33),Chelsea FC,0-0,0-0,Everton FC,1995,ENG,0,0,0,0,0,1,1
3,1,(Sat) 19 Aug 1995 (W33),Liverpool FC,1-0,0-0,Sheffield Wednesday FC,1995,ENG,1,0,0,0,1,3,0
4,1,(Sat) 19 Aug 1995 (W33),Manchester City FC,1-1,0-1,Tottenham Hotspur FC,1995,ENG,1,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44018,1,(Sun) 25 Aug 2019 (W34),UC Sampdoria,0-3,0-1,SS Lazio,2019,IT,0,3,0,1,3,0,3
44019,1,(Sun) 25 Aug 2019 (W34),SPAL,2-3,2-1,Atalanta BC,2019,IT,2,3,2,1,1,0,3
44020,1,(Sun) 25 Aug 2019 (W34),Torino FC,2-1,1-0,US Sassuolo Calcio,2019,IT,2,1,1,0,1,3,0
44021,1,(Sun) 25 Aug 2019 (W34),Hellas Verona FC,1-1,1-1,Bologna FC,2019,IT,1,1,1,1,0,1,1
44022,1,(Mon) 26 Aug 2019 (W35),FC Internazionale Milano,4-0,2-0,US Lecce,2019,IT,4,0,2,0,4,3,0

In [12]:
df[(df['Team 1'] == 'Aston Villa FC ') & (df['Team 2'] == 'Manchester United FC ')]

,Round,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,1,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0
440,7,(Sat) 21 Sep 1996 (W38),Aston Villa FC,0-0,0-0,Manchester United FC,1996,ENG,0,0,0,0,0,1,1
1012,26,(Wed) 18 Feb 1998 (W8),Aston Villa FC,0-2,0-0,Manchester United FC,1997,ENG,0,2,0,0,2,0,3
1288,15,(Sat) 5 Dec 1998 (W49),Aston Villa FC,1-1,0-0,Manchester United FC,1998,ENG,1,1,0,0,0,1,1
1890,38,(Sun) 14 May 2000 (W19),Aston Villa FC,0-1,0-0,Manchester United FC,1999,ENG,0,1,0,0,1,0,3
2090,20,(Tue) 26 Dec 2000 (W52),Aston Villa FC,0-1,0-0,Manchester United FC,2000,ENG,0,1,0,0,1,0,3
2303,3,(Sun) 26 Aug 2001 (W34),Aston Villa FC,1-1,1-0,Manchester United FC,2001,ENG,1,1,1,0,0,1,1
2950,30,(Sat) 15 Mar 2003 (W11),Aston Villa FC,0-1,0-1,Manchester United FC,2002,ENG,0,1,0,1,1,0,3
3411,38,(Sat) 15 May 2004 (W20),Aston Villa FC,0-2,0-2,Manchester United FC,2003,ENG,0,2,0,2,2,0,3
3610,20,(Tue) 28 Dec 2004 (W53),Aston Villa FC,0-1,0-1,Manchester United FC,2004,ENG,0,1,0,1,1,0,3
3958,16,(Sat) 17 Dec 2005 (W50),Aston Villa FC,0-2,0-1,Manchester United FC,2005,ENG,0,2,0,1,2,0,3
4360,19,(Sat) 23 Dec 2006 (W51),Aston Villa FC,0-3,0-0,Manchester United FC,2006,ENG,0,3,0,0,3,0,3
4648,9,(Sat) 20 Oct 2007 (W42),Aston Villa FC,1-4,1-3,Manchester United FC,2007,ENG,1,4,1,3,3,0,3
5069,13,(Sat) 22 Nov 2008 (W47),Aston Villa FC,0-0,0-0,Manchester United FC,2008,ENG,0,0,0,0,0,1,1
5567,25,(Wed) 10 Feb 2010 (W6),Aston Villa FC,1-1,1-1,Manchester United FC,2009,ENG,1,1,1,1,0,1,1
5820,13,(Sat) 13 Nov 2010 (W45),Aston Villa FC,2-2,0-0,Manchester United FC,2010,ENG,2,2,0,0,0,1,1
6209,13,(Sat) 3 Dec 2011 (W48),Aston Villa FC,0-1,0-1,Manchester United FC,2011,ENG,0,1,0,1,1,0,3
6560,11,(Sat) 10 Nov 2012 (W45),Aston Villa FC,2-3,1-0,Manchester United FC,2012,ENG,2,3,1,0,1,0,3
6997,16,(Sun) 15 Dec 2013 (W50),Aston Villa FC,0-3,0-2,Manchester United FC,2013,ENG,0,3,0,2,3,0,3
7380,17,(Sat) 20 Dec 2014 (W51),Aston Villa FC,1-1,1-0,Manchester United FC,2014,ENG,1,1,1,0,0,1,1
7610,2,(Fri) 14 Aug 2015 (W33),Aston Villa FC,0-1,0-1,Manchester United FC,2015,ENG,0,1,0,1,1,0,3

In [16]:
del df['Round']

KeyError: 'Round'

In [15]:
df.head()

,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts)
0,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0
1,(Sat) 19 Aug 1995 (W33),Blackburn Rovers FC,1-0,1-0,Queens Park Rangers FC,1995,ENG,1,0,1,0,1,3,0
2,(Sat) 19 Aug 1995 (W33),Chelsea FC,0-0,0-0,Everton FC,1995,ENG,0,0,0,0,0,1,1
3,(Sat) 19 Aug 1995 (W33),Liverpool FC,1-0,0-0,Sheffield Wednesday FC,1995,ENG,1,0,0,0,1,3,0
4,(Sat) 19 Aug 1995 (W33),Manchester City FC,1-1,0-1,Tottenham Hotspur FC,1995,ENG,1,1,0,1,0,1,1

In [17]:
df['Score'] = df['FT Team 1'] - df['FT Team 2']
df['Hscore'] = df['HT Team 1'] - df['HT Team 2']

In [18]:
df.head()

,Date,Team 1,FT,HT,Team 2,Year,Country,FT Team 1,FT Team 2,HT Team 1,HT Team 2,GGD,Team 1 (pts),Team 2 (pts),Score,Hscore
0,(Sat) 19 Aug 1995 (W33),Aston Villa FC,3-1,3-0,Manchester United FC,1995,ENG,3,1,3,0,2,3,0,2,3
1,(Sat) 19 Aug 1995 (W33),Blackburn Rovers FC,1-0,1-0,Queens Park Rangers FC,1995,ENG,1,0,1,0,1,3,0,1,1
2,(Sat) 19 Aug 1995 (W33),Chelsea FC,0-0,0-0,Everton FC,1995,ENG,0,0,0,0,0,1,1,0,0
3,(Sat) 19 Aug 1995 (W33),Liverpool FC,1-0,0-0,Sheffield Wednesday FC,1995,ENG,1,0,0,0,1,3,0,1,0
4,(Sat) 19 Aug 1995 (W33),Manchester City FC,1-1,0-1,Tottenham Hotspur FC,1995,ENG,1,1,0,1,0,1,1,0,-1

In [20]:
df.columns

Index(['Date', 'Team 1', 'FT', 'HT', 'Team 2', 'Year', 'Country', 'FT Team 1',
       'FT Team 2', 'HT Team 1', 'HT Team 2', 'GGD', 'Team 1 (pts)',
       'Team 2 (pts)', 'Score', 'Hscore'],
      dtype='object')

In [21]:
df = df[['Date', 'Team 1', 'Team 2', 'Year', 'Country', 'Score', 'Hscore']]

In [22]:
df.head()

,Date,Team 1,Team 2,Year,Country,Score,Hscore
0,(Sat) 19 Aug 1995 (W33),Aston Villa FC,Manchester United FC,1995,ENG,2,3
1,(Sat) 19 Aug 1995 (W33),Blackburn Rovers FC,Queens Park Rangers FC,1995,ENG,1,1
2,(Sat) 19 Aug 1995 (W33),Chelsea FC,Everton FC,1995,ENG,0,0
3,(Sat) 19 Aug 1995 (W33),Liverpool FC,Sheffield Wednesday FC,1995,ENG,1,0
4,(Sat) 19 Aug 1995 (W33),Manchester City FC,Tottenham Hotspur FC,1995,ENG,0,-1

In [26]:
df.columns

Index(['Date', 'Team 1', 'Team 2', 'Year', 'Country', 'Score', 'Hscore'], dtype='object')

In [27]:
df_ob = df[['Date', 'Team 1', 'Team 2', 'Country']]
df_int = df[['Year', 'Score', 'Hscore']]

In [29]:
# onehot, incording 문자로 된 데이터를 숫자와 비슷한 형태로 변경(데이터 전처리)
df_onehot = pd.get_dummies(df_ob)

In [32]:
df_total = pd.concat([df_int, df_onehot], axis=1) # axis=1을 꼭 줄 것!!

In [33]:
df_total

,Year,Score,Hscore,Date_(Fri) 1 Apr 2011 (W13),Date_(Fri) 1 Apr 2016 (W13),Date_(Fri) 1 Aug 1997 (W31),Date_(Fri) 1 Aug 2003 (W31),Date_(Fri) 1 Dec 1995 (W48),Date_(Fri) 1 Dec 2006 (W48),Date_(Fri) 1 Dec 2017 (W48),...,Team 2_Wigan Athletic FC,Team 2_Wimbledon FC,Team 2_Wolverhampton Wanderers FC,Team 2_Xerez CD,Team 2_Évian TG FC,Country_ENG,Country_ESP,Country_FR,Country_GER,Country_IT
0,1995,2,3,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1995,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1995,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1995,0,-1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44264,2019,-1,-2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44265,2019,1,-1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44266,2019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44267,2019,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44268,2019,3,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [36]:
y = df_total.pop('Score')

KeyError: 'Score'

In [37]:
y

0        2
1        1
2        0
3        1
4        0
        ..
44264   -1
44265    1
44266    0
44267    2
44268    3
Name: Score, Length: 44269, dtype: int64

In [41]:
X = df_total

In [42]:
X

,Year,Hscore,Date_(Fri) 1 Apr 2011 (W13),Date_(Fri) 1 Apr 2016 (W13),Date_(Fri) 1 Aug 1997 (W31),Date_(Fri) 1 Aug 2003 (W31),Date_(Fri) 1 Dec 1995 (W48),Date_(Fri) 1 Dec 2006 (W48),Date_(Fri) 1 Dec 2017 (W48),Date_(Fri) 1 Feb 2008 (W5),...,Team 2_Wigan Athletic FC,Team 2_Wimbledon FC,Team 2_Wolverhampton Wanderers FC,Team 2_Xerez CD,Team 2_Évian TG FC,Country_ENG,Country_ESP,Country_FR,Country_GER,Country_IT
0,1995,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1995,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,1995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,1995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1995,-1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44264,2019,-2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44265,2019,-1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44266,2019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44267,2019,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
44268,2019,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [45]:
from sklearn.model_selection import train_test_split # 데이터를 나눠주는 모듈 사용
(X_train, X_test, y_train, y_test) = train_test_split(X,y, random_state=1,test_size=0.25) # 문제와 정답을 나눠준다.

In [47]:
print(X_train.shape, y_train.shape) # X 데이터 끼리는 칼럼이 맞는지 확인
print(X_test.shape, y_test.shape) # y 데이터 끼리는 행과 맞는지 확인

(33201, 4668) (33201,)
(11068, 4668) (11068,)

In [48]:
from sklearn.linear_model import LinearRegression # 모델을 가져온다.

In [49]:
lrm = LinearRegression()

In [50]:
lrm.fit(X_train, y_train) # 모델에게 데이터를 주고 학습시키는 걸 fit이라고 한다.

LinearRegression()

In [53]:
lrm.predict(X_test)

array([-0.89274979,  0.84863472,  1.34062767, ...,  1.78530025,
        0.02097178, -0.59564829])

In [68]:
lrm.predict(X_test)[0]

-0.8927497863769531

In [56]:
y_test.reset_index(drop=True, inplace=True)

In [69]:
y_test[0]

0

In [62]:
lrm.predict(X_test)[1]

0.8486347198486328

In [61]:
y_test[1]

4

보통은 0과 1사이의 차이가 나는 결과 점수 데이터가 많기 때문에, 4와 같은 매우 큰 수의 경우는 예측을 잘 못한다.

이 정도로 오차가 많이 나면 데이터 전처리 단계로 가서 다시 만들어야 한다.

In [85]:
np.round(lrm.predict(X_test)[4],0)

15321082378.0

In [84]:
y_test[4]

0

In [70]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [92]:
i = 10102
print(np.round(dtc.predict(X_test)[i], 0))
print(y_test[i])

-1
-2