<a href="https://colab.research.google.com/github/orin00/colab/blob/main/240307_%ED%86%B5%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
blood = ['A', 'A', 'A', 'B', 'B', 'AB', 'O']

import numpy as np
np.unique(blood, return_counts=True)

(array(['A', 'AB', 'B', 'O'], dtype='<U2'), array([3, 1, 2, 1]))

np.unique 안 쓰고 중복 제거

In [15]:
bloods = list(set(blood))
bloods

['AB', 'O', 'A', 'B']

In [16]:
bloods = list(dict.fromkeys(blood))
bloods

['A', 'B', 'AB', 'O']

In [22]:
for i in bloods:  ## ['A', 'B', 'AB', 'O']
  cnt = 0
  for j in blood:  ## ['A', 'A', 'A', 'B', 'B', 'AB', 'O']
    if i == j:
      cnt += 1
  print(cnt)

3
2
1
1

In [24]:
##  산술평균
x1 = [100, 100, 200, 400, 500]
x2 = [1, 1, 1, 2, 3, 5, 5, 7, 8, 9]

def avg_data(x):
  total = 0
  cnt = 0
  for i in x:
    total += i
    cnt += 1
  return total / cnt

x3 = x2 + x1

print(avg_data(x1))
print(avg_data(x2))
print(avg_data(x3))

260.0
4.2
89.46666666666667

In [27]:
x1 = [100, 100, 200, 400, 500]
x2 = [1, 1, 1, 2, 3, 5, 5, 7, 8, 9]

x3 = x1+x2
print(sum(x1)/len(x1))
print(sum(x2)/len(x2))
print(sum(x3)/len(x3))

260.0
4.2
89.46666666666667

In [29]:
import numpy as np

print(np.mean(x1))
print(np.mean(x2))
print(np.mean(x3))

260.0
4.2
89.46666666666667

In [32]:
import statistics as st

print(st.mean(x1))
print(st.mean(x2))
print(st.mean(x3))

260
4.2
89.46666666666667

In [34]:
avg = lambda x: sum(x) / len(x)

print(avg(x1))
print(avg(x2))
print(avg(x3))

260.0
4.2
89.46666666666667

In [36]:
x4 = x2 + [x1[-1]]
x4

[1, 1, 1, 2, 3, 5, 5, 7, 8, 9, 500]

In [37]:
avg(x4)

49.27272727272727

In [56]:
import time

x = [1, 9, 1, 3, 5, 1, 2, 7, 8, 5]

# 오름차순 정렬
for num in range(len(x)-1, 0, -1):  # 10, 9, 8, 7, 6, ...
  for n in range(num): # 0~10, 0~9,
    if x[n] > x[n+1]:
      x[n], x[n+1] = x[n+1], x[n]
    # print(x, x[n])
    # time.sleep(1)

x

[1, 1, 1, 2, 3, 5, 5, 7, 8, 9]

In [66]:
def center(x):
  if len(x) % 2 == 0:
    idx = int(len(x)/2)
    mda = (x[idx-1] + x[idx]) / 2
    return mda
  else:
    idx = int((len(x)+1)/2)
    mda = x[idx]
    return mda

center(x[:-1])

5

In [86]:
x = [1, 1, 1, 2, 3, 3, 3, 3, 5, 5, 7, 8, 9]

def mode(data):
    x = np.unique(data)
    dic = dict()
    for i in x:
        cnt = 0
        for j in data:
            if i == j:
                cnt += 1
        dic[i] = cnt
    return dic

In [87]:
dic = mode(x)

In [88]:
max = ''
count = 0

for k, v in dic.items():
  if v > count:
    count = v
    max = k
print('최빈값 :', max, '/ 최빈횟수 :', count)

최빈값 : 3 / 최빈횟수 : 4