<a href="https://colab.research.google.com/github/orin00/colab/blob/main/Pandas_%EC%8B%A4%EC%8A%B5_%EB%AC%B8%EC%A0%9C_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 프레임 인덱싱 & 슬라이싱

### 1. 다음 데이터를 DataFrame으로 만드시오.

In [ ]:
data = [
    ["037730", "3R", 1510, 7.36],
    ["036360", "3SOFT", 1790, 1.65],
    ["005760", "ACTS", 1185, 1.28],
]

### 2. 위에서 생성한 데이터의 컬럼을 "종목코드", "종목명", "현재가", "등락률" 로 변경하고 "종목코드"를 인덱스로 변경하시오.

### 3. "현재가" 컬럼을 시리즈 형식으로 출력하고 데이터프레임 형식으로 출력하는 두개의 변수를 만드시오.

### 4. 2번에서 생성한 데이터프레임의 첫번째 행과 두번째 행을 슬라이싱 하시오.(iloc)

### 5. 4번과 같은 결과가 출력되도록 loc를 사용하여 슬라이싱 하시오.

### 6. 데이터프레임에서 종목코드가 '037730'인 종목의 종목명, 현재가를 가져오시오.(iloc)

### 7. 위와 같은 결과가 나오도록 loc를 사용하여 인덱싱 하시오.

### 8. 그림에서 표시한 결과를 가져오도록 iloc와 loc를 사용한 슬라이싱을 하시오.

![image.png]()

### 9. 컬럼추가 다음 데이터 프레임에 "목표가" 컬럼을 추가하시오. (목표가는 현재가의 10% 상승된 금액입니다.)

### 10. 다음 데이터를 row에 추가하시오.

## 비디오게임 데이터

### 'vgsales.csv'파일을 데이터프레임으로 만들고 'Rank'컬럼을 인덱스로 설정하시오.

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('vgsales.csv', index_col=('Rank'))
df

### shape과 head를 확인하고 info 정보를 확인하시오

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.info()

### describe를 사용해 수치자료와 object 자료의 요약값을 확인하시오.

In [ ]:
df.describe()

In [ ]:
df.describe(include='O')

In [ ]:
df.describe(include='all')

### Global_Sales 컬럼을 기준으로 내림차순 정렬하시오.

In [ ]:
df.sort_values('Global_Sales', ascending=False)

### Platform과 Global_Sales 컬럼을 기준으로 정렬하고, Platform은 오름차순, Global_Sales는 내림차순 정렬하시오.

In [ ]:
df.sort_values(['Platform', 'Global_Sales'], ascending=[True, False])

### Year 컬럼의 Null값의 갯수를 확인하고 Null값의 비율을 구하시오.

In [ ]:
df['Year'].isnull().sum()

In [ ]:
df['Year'].isnull().mean()

### Year 컬럼의 값이 NaN인 행을 제거하시오.

In [ ]:
df.dropna(subset=['Year'], inplace=True)

### Year 컬럼의 데이터 타입을 int로 변경하시오.

In [ ]:
df['Year'] = df['Year'].astype('int')
df.dtypes

### Genre 컬럼의 각 장르별 개수를 출력하시오.

In [ ]:
df['Genre'].value_counts()

### 데이터프레임에서 게임 이름(Name)에 'Super Mario'가 포함된 게임들만 선택하시오.

In [ ]:
cond = df['Name'].str.contains('Super Mario')
df[cond]

### Platform과 Genre를 그룹화하여 Global_Sales의 합을 구하시오.

In [ ]:
df.groupby(['Platform', 'Genre'])[['Global_Sales']].sum()

## 주가데이터

In [ ]:
pip install -U finance-datareader

In [ ]:
import FinanceDataReader as fdr

kospi = fdr.DataReader("KS11", "2001")

### shape과 head를 확인하고 info 정보를 확인하고 describe를 통해 요약값을 확인하시오.

In [ ]:
shape

### High 컬럼의 최고가를 기록한 날을 출력하시오.

### Low 컬럼의 최저가를 기록한 날을 출력하시오.

### Change라는 컬럼을 만들어 추가하시오. Change 컬럼의 데이터값은 : Close - Open

### 종가 기준(Close 컬럼)으로 코스피 지수가 3000 포인트를 돌파한 날짜를 구하세요.

### 코스피 지수가 5% 이상 상승한 날의 데이터만 필터링 하시오.

### 2001년 이후의 코스피지수 데이터에서 최다 연속 상승일수를 구하세요.